<h1> This is the 'Create Entry' page </h1>


<h1>Create New Entry</h1>

<form action="createEntry" method="post">
  <input type="text" placeholder="Enter a Title" name='title'></input>
  <input type="text" placeholder="Content" name='content'></input>
  <input type="text" placeholder="Date" name='date'></input>
  <input type="submit" value="Submit Entry"></input>
</form>
