<h1> This is the 'Create Entry' page </h1>


<h1>Create New Entry</h1>

<form>
  <input type="text" placeholder="Enter a Title"></input>
  <input type="text" placeholder="Content"></input>
  <input type="text" placeholder="Date"></input> 
  <input type="submit" value="Submit Entry"></input>
</form>
