<h1> This is the 'Update Entry' page </h1>


<h1>Update Entry</h1>

<form action="updateEntry" method="POST">
  <input type="text" placeholder="Enter a Title" name='title'></input>
  <input type="text" placeholder="Content" name='content'></input>
  <input type="text" placeholder="Date" name='date'></input>
  <input type="submit" value="Update Entry"></input>
</form>
