body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:link:hover {
  color: black;
  text-decoration: none;
}

#createButton {
margin-bottom: 10px;
}

#deleteButton {
margin-top: 5px;
}

#updateButton {
  margin-top: 5px;
  text-decoration: none;
}
